#pagina1{
    display: block;
}

header{
    height: 60px;
    width: 100%;
    background-color: #175ABF;

}
.imagen1 {
    display: block;
    margin: auto;
    width: 400px;
    justify-content: center;
}
#ingresar {
    background-color: #175ABF;
    border-radius: 50px;
    padding: 5px 30px 5px 30px;
    color:white;
    display: block;
    margin: auto;
    font-size: 18px;
}

#pagina2{
    display: none;
}

#nombre-ejemplo{
    background-color:  #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}
#nombre-box{
    background-color:  #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}
#fecha-tarjeta{
    background-color: #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}
#cvv{
    background-color:  #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}
#numero-tarjeta{
    background-color: #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin:auto;
    font-size: 12px;
}
.frase {
    margin: auto;
    text-align: center;
}
