#frase{
    familia de fuentes: 'Work Sans', sans-serif;
}


#pagina1{
    display: block;
}

header{
    height: 60px;
    width: 100%;
    background-color: #175ABF;
  
}
.frase {
    margin: auto;
    text-align: center;
}

.imagen1 {
    display: block;
    margin: auto;
    width: 400px;
    justify-content: center;
}
#ingresar {
    background-color: #175ABF;
    border-radius: 50px;
    padding: 5px 30px 5px 30px;
    color:white;
    display: block;
    margin: auto;
    font-size: 18px;
}

#pagina2{
    display: none;
}

.imagen4 {
    display: block;
    width: 210px;
    justify-content: flex-start;
}
.frase2{
    margin: auto;
    text-align: center;
}
#caja {
    margin: auto;
    background-color: #F29508 ;
    width: 300px;
    justify-content: space-around;
}
#nombre{
    background-color:  #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}
#Nombre{
    margin: auto;
    justify-content: center;
    align-items: center;

}
#nombre-ejemplo{
    background-color:  #614e4e;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}

#FechaTarjeta{
    background-color: #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}
#cvv{
    background-color:  #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin: auto;
    font-size: 12px;
}
#numeroTarjeta{
    background-color: #C4C4C4;
    border-radius: 40px;
    padding: 5px 30px 5px 30px;
    color: gray;
    display: block;
    margin:auto;
    font-size: 12px;
}
#validar{
    background-color: #175ABF;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    color: white;
    display: block;
    margin:auto;
    font-size: 14px;
}

#botonvolver{
    background-color: #175ABF;
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    color: white;
    display: block;
    margin:auto;
    font-size: 14px;
}

.imagen2{
    display: block;
    width: 100px;
    justify-content: flex-end;
    order: default -1;
}
.imagen3{
    display: block;
    width: 200px;
    justify-content: flex-end;
    order: default -1;
}


#pagina3{
    display: none;
}

#pagina4{
    display: block;
}
